@charset "UTF-8";


body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.6em;
	color: #BBBBBB;
	background-color: #46d427;
	padding: 0 30px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.3em;
	color: #BBBBBB;
}
h1 {
	font-size: 26px;
	padding: 5px 0;
	font-variant: small-caps;
	letter-spacing: .6em;
	line-height: 3em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.7em;
	background-color: #929433;
}
h3 {
	font-size: 16px;
	letter-spacing: 0.6em;
	border-bottom-width: 2px;
	border-bottom-style: inset;
	border-bottom-color: #9B9732;
	padding: 3px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #9B9755;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #9B9744;
	text-decoration: none;
}
a:hover {
	color: #FF3400;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 11px;
}
ol {
	margin-left: 12px;
}

/* table styles -------------------------------------- */
table {
	border: solid #999933 1px;
}
td {
	padding: 6px;
	border: solid #999933 1px;
}
th {
	font-weight: bold;
	background-color: #999938;
	text-align: center;
	padding: 5px;
	border: solid #999933 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #999933 1px;
}

img {
	border: solid #999933 2px;

}

iframe {
	border: solid #999933 1px;
	padding: 6px;
	margin: 4px;
}

